.leaflet-container .suncalc-control {
    pointer-events: none;
}
.leaflet-container .suncalc-dusk {
    fill: red;
    stroke-width: 0;
    fill-opacity: 0.5;
}

.leaflet-container .suncalc-dawn {
    fill: yellow;
    stroke-width: 0;
    fill-opacity: 0.5;
}

@media (pointer: coarse) {
    .leaflet-container .suncalc-sun-label {
        font-size: 9px;
    }
}

@media (pointer: fine) {
    .leaflet-container .suncalc-sun-label {
        font-size: 11px;
    }
}

.leaflet-container .suncalc-sun {
    fill: #FFB800;
    fill-opacity: 0.5;
}

.leaflet-container .suncalc-moon.gis-theme-light{
    fill: black;
}
.leaflet-container .suncalc-moon.gis-theme-dark {
    fill: white;
}

.leaflet-container .suncalc-sun-path {
    stroke-width: 2;
    stroke-opacity: 0.7;
    stroke-dasharray: 7px 3px;
    fill: none;
}
.leaflet-container .suncalc-sun-path.gis-theme-light {
    stroke: orangered;
}

.leaflet-container .suncalc-sun-path.gis-theme-dark {
    stroke: orange;
}

.leaflet-container .suncalc-moon-path {
    stroke-width: 2;
    stroke-dasharray: 2 2;
    stroke-opacity: 0.7;
    fill: none;
}
.leaflet-container .suncalc-moon-path.gis-theme-light {
    stroke: darkred;
}

.leaflet-container .suncalc-moon-path.gis-theme-dark {
    stroke: white;
}
.leaflet-container .suncalc-azimuth-circle {
    stroke-width: 2;
    stroke-opacity: 0.8;
    fill: none;
}
.leaflet-container .suncalc-azimuth-circle.gis-theme-light {
    stroke: darkred;
}

.leaflet-container .suncalc-azimuth-circle.gis-theme-dark {
    stroke: white;
}

.leaflet-container .suncalc-sun-label {
    font-family: -apple-system, "Helvetica Neue", "Segoe UI", "Roboto", sans-serif;
    text-anchor: middle;
    font-weight: bold;
    pointer-events: none;
    user-select: none;
}

    .leaflet-container .suncalc-sun-label.gis-theme-light {
        fill: darkred;
        text-shadow: 1px 1px white;
    }
    .leaflet-container .suncalc-sun-label.gis-theme-dark {
        fill: #FFB800;
        text-shadow: 1px 1px black;
    }


    .leaflet-container .suncalc-shaded {
    opacity: 0.5;
}
